# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.co

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Vim swap files
*.sw?

# QT files
*.moc

# binary file
demo/demo

cuda-repo-wsl-ubuntu-13-1-local_13.1.1-1_amd64.deb
